li {
    list-style: none;
    font-size: 50px;
    background: rgb(179, 97, 97);
    width: 8.6%;
    text-align: center;
    padding: 1%;
    margin: 25px;
    float: left;
    transform: rotateY(180deg);
}

li > i {
    opacity: 0;
}

.card {
    background: #ccc;
    overflow: hidden;
    margin: auto;
    width: 95%;
    margin-top: 2%; 
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}   

@keyframes animation {
  from   {opacity: 0;}
  to  {opacity: 1;}
}


.open {
    opacity: 1;
    animation-name: animation;
    animation-duration: 0s;
}

#demo {
    text-align: center;
    background: #ccc;
    padding: 10px;
    font-size: 35px;
    margin: 0;
}

.rating {
    color: black;
    text-align: center;
    background: #a1b3;
    padding: 3%;
    margin: auto;
    margin-top: 1%;
    width: 14%
}


.ratejs {
    color: yellow;
}

.backcolor {
    background: #f4fe;
}

.reset {
    text-align: center;
    background: #f4b3c6;
    width: 14%;
    margin:12px auto;
    padding: 3%;
}
