

li > i {
    opacity: 0;
}

html {
    box-sizing: border-box;
   
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  
}

body {
    background: #ffffff;
    font-family: 'Chicle', cursive;
    font-size:120%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.open {
    opacity: 1;
    font-size: 30px;
    animation-name: animatetop;
    animation-duration: 0.8s;
}

@keyframes animatetop {
    from {opacity: 0}
    to {opacity: 1}
}

.cards {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.cards .list {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.time {
    position: relative;
    top: 70px;
    left: 44px;
}

.ratejs {
    color: yellow;
}

.backcolor {
    background: #02ccba !important;
}


.moves {
    position: relative;
    top: 24px;
    right: 74px;
}

.reset {
    position: relative;
    top: 114px;
    left: 157px;
}

.rating {
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 220px;
}

.rates {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0px 5px 0px 0px;
}

.ratesJs {
    color: gold;
}

